<div class="espacio"></div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-lg-8 border-shadow">
    <div class="row">
      <h3>Registro</h3>
      <br><br>
      <form autocomplete="off" [formGroup]="form" (ngSubmit)="guardar()">
        <div class="row form-group label-left">
          <label>Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
          <small class="text-danger" *ngIf="campoValido('name', 'required')">El campo es requerido</small>
          <small class="text-danger" *ngIf="campoValido('name', 'minLength')">La longitud minima es 3
            caracteres</small>
        </div>

        <div class="row form-group label-left">
          <label>Email</label>
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
          <small class="text-danger" *ngIf="campoValido('email', 'required')">El campo es requerido</small>
          <small class="text-danger" *ngIf="campoValido('email', 'minLength')">La longitud minima es 3
            caracteres</small>
          <small class="text-danger" *ngIf="campoValido('email', 'pattern')">Correo no valido.</small>
        </div>

        <div class="row form-group label-left">
          <label class="col-form-label">Contraseña</label>
          <input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
             style="margin-bottom: 10px" maxlength="10">
          <small class="text-danger" *ngIf="campoValido('password', 'required')">El campo es requerido</small>
          <small class="text-danger" *ngIf="campoValido('password', 'minLength')">La longitud minima es 6
            caracteres</small>
        </div>
        <div class="row form-group">
          <div class="class">
            <button class="btn btn-primary" type="button" (click)="volver()">Cancelar</button>
            &nbsp;
            <button class="btn btn-success" type="submit">Aceptar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
