.centrar {
  text-align: center;
  color: #4545e6;
  font-family: verdana,verdana;
}

.color {
  background-color: #1aa211;
  border-color: #1aa211
}

.cent {
  text-align: center;
  color: #b4b4e2;
}

.colorForm {
  background-color: #f4f4fb;
}

